h1 {
    font-family: 'Press Start 2P', cursive;
}

#top {
    color: white;
    background: linear-gradient(to right, #7f00ff, #e100ff);
    font-family: 'Grand Hotel', cursive;
}

h2 {
    font-family: 'Grand Hotel', cursive;
    background: linear-gradient(to right, #7f00ff, #e100ff);
}

.img {
    width: 125px;
    height: 125px;

}

body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    text-align: right;
}

.y {
    background: linear-gradient(to right, #7f00ff, #e100ff);
}
