body {
    color: black;
    background: linear-gradient(to right, #d9a7c7, #fffcdc);
}

h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
}

h2 {
    text-align: justify;
    background: linear-gradient(to right, #d9a7c7, #fffcdc);
}